<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuhenjian.aurora.db.mapper.sql.MemberFriendMapper" >
  <resultMap id="BaseResultMap" type="com.wuhenjian.aurora.utils.entity.dao.MemberFriend" >
    <id column="mfId" property="mfId" jdbcType="BIGINT" />
    <result column="ownerId" property="ownerId" jdbcType="BIGINT" />
    <result column="guestId" property="guestId" jdbcType="BIGINT" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Criteria_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Criteria_Where_Clause" >
    <where >
      <foreach collection="criteria.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    mfId, ownerId, guestId, createTime
  </sql>
  <select id="selectByCriteria" resultMap="BaseResultMap" parameterType="com.wuhenjian.aurora.utils.entity.dao.MemberFriendCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_member_friend
    <if test="_parameter != null" >
      <include refid="Criteria_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_member_friend
    where mfId = #{mfId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_member_friend
    where mfId = #{mfId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wuhenjian.aurora.utils.entity.dao.MemberFriend" >
    <selectKey resultType="java.lang.Long" keyProperty="mfId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_member_friend (ownerId, guestId, createTime
      )
    values (#{ownerId,jdbcType=BIGINT}, #{guestId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wuhenjian.aurora.utils.entity.dao.MemberFriend" >
    <selectKey resultType="java.lang.Long" keyProperty="mfId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_member_friend
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ownerId != null" >
        ownerId,
      </if>
      <if test="guestId != null" >
        guestId,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ownerId != null" >
        #{ownerId,jdbcType=BIGINT},
      </if>
      <if test="guestId != null" >
        #{guestId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByCriteriaSelective" parameterType="map" >
    update t_member_friend
    <set >
      <if test="record.mfId != null" >
        mfId = #{record.mfId,jdbcType=BIGINT},
      </if>
      <if test="record.ownerId != null" >
        ownerId = #{record.ownerId,jdbcType=BIGINT},
      </if>
      <if test="record.guestId != null" >
        guestId = #{record.guestId,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null" >
        createTime = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Criteria_Where_Clause" />
    </if>
  </update>
  <update id="updateByCriteria" parameterType="map" >
    update t_member_friend
    set mfId = #{record.mfId,jdbcType=BIGINT},
      ownerId = #{record.ownerId,jdbcType=BIGINT},
      guestId = #{record.guestId,jdbcType=BIGINT},
      createTime = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Criteria_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wuhenjian.aurora.utils.entity.dao.MemberFriend" >
    update t_member_friend
    <set >
      <if test="ownerId != null" >
        ownerId = #{ownerId,jdbcType=BIGINT},
      </if>
      <if test="guestId != null" >
        guestId = #{guestId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where mfId = #{mfId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wuhenjian.aurora.utils.entity.dao.MemberFriend" >
    update t_member_friend
    set ownerId = #{ownerId,jdbcType=BIGINT},
      guestId = #{guestId,jdbcType=BIGINT},
      createTime = #{createTime,jdbcType=TIMESTAMP}
    where mfId = #{mfId,jdbcType=BIGINT}
  </update>
  <sql id="Model_Where_Clause" >
    <where >
      <if test="mfId != null" >
         and mfId=#{mfId}
      </if>
      <if test="ownerId != null" >
         and ownerId=#{ownerId}
      </if>
      <if test="guestId != null" >
         and guestId=#{guestId}
      </if>
      <if test="createTime != null" >
         and createTime=#{createTime}
      </if>
    </where>
  </sql>
  <select id="countByModel" parameterType="com.wuhenjian.aurora.utils.entity.dao.MemberFriend" resultType="java.lang.Integer" >
    select count(*) from t_member_friend
    <if test="_parameter != null" >
      <include refid="Model_Where_Clause" />
    </if>
  </select>
  <select id="selectByModel" resultMap="BaseResultMap" parameterType="com.wuhenjian.aurora.utils.entity.dao.MemberFriend" >
    select
    <include refid="Base_Column_List" />
    from t_member_friend
    <if test="_parameter != null" >
      <include refid="Model_Where_Clause" />
    </if>
  </select>
</mapper>