<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuhenjian.aurora.db.mapper.sql.MemberInfoMapper" >
  <resultMap id="BaseResultMap" type="com.wuhenjian.aurora.utils.entity.dao.MemberInfo" >
    <id column="miId" property="miId" jdbcType="BIGINT" />
    <result column="maId" property="maId" jdbcType="BIGINT" />
    <result column="faceId" property="faceId" jdbcType="BIGINT" />
    <result column="area" property="area" jdbcType="BIGINT" />
    <result column="nickName" property="nickName" jdbcType="VARCHAR" />
    <result column="memberSign" property="memberSign" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="lastLoginTime" property="lastLoginTime" jdbcType="TIMESTAMP" />
    <result column="lastLoginIP" property="lastLoginIP" jdbcType="VARCHAR" />
    <result column="lastLoginDevice" property="lastLoginDevice" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Criteria_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Criteria_Where_Clause" >
    <where >
      <foreach collection="criteria.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    miId, maId, faceId, area, nickName, memberSign, sex, lastLoginTime, lastLoginIP, 
    lastLoginDevice
  </sql>
  <select id="selectByCriteria" resultMap="BaseResultMap" parameterType="com.wuhenjian.aurora.utils.entity.dao.MemberInfoCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_member_info
    <if test="_parameter != null" >
      <include refid="Criteria_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_member_info
    where miId = #{miId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_member_info
    where miId = #{miId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wuhenjian.aurora.utils.entity.dao.MemberInfo" >
    <selectKey resultType="java.lang.Long" keyProperty="miId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_member_info (maId, faceId, area, 
      nickName, memberSign, sex, 
      lastLoginTime, lastLoginIP, lastLoginDevice
      )
    values (#{maId,jdbcType=BIGINT}, #{faceId,jdbcType=BIGINT}, #{area,jdbcType=BIGINT}, 
      #{nickName,jdbcType=VARCHAR}, #{memberSign,jdbcType=VARCHAR}, #{sex,jdbcType=INTEGER}, 
      #{lastLoginTime,jdbcType=TIMESTAMP}, #{lastLoginIP,jdbcType=VARCHAR}, #{lastLoginDevice,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wuhenjian.aurora.utils.entity.dao.MemberInfo" >
    <selectKey resultType="java.lang.Long" keyProperty="miId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_member_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="maId != null" >
        maId,
      </if>
      <if test="faceId != null" >
        faceId,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="nickName != null" >
        nickName,
      </if>
      <if test="memberSign != null" >
        memberSign,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="lastLoginTime != null" >
        lastLoginTime,
      </if>
      <if test="lastLoginIP != null" >
        lastLoginIP,
      </if>
      <if test="lastLoginDevice != null" >
        lastLoginDevice,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="maId != null" >
        #{maId,jdbcType=BIGINT},
      </if>
      <if test="faceId != null" >
        #{faceId,jdbcType=BIGINT},
      </if>
      <if test="area != null" >
        #{area,jdbcType=BIGINT},
      </if>
      <if test="nickName != null" >
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="memberSign != null" >
        #{memberSign,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="lastLoginTime != null" >
        #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginIP != null" >
        #{lastLoginIP,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginDevice != null" >
        #{lastLoginDevice,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByCriteriaSelective" parameterType="map" >
    update t_member_info
    <set >
      <if test="record.miId != null" >
        miId = #{record.miId,jdbcType=BIGINT},
      </if>
      <if test="record.maId != null" >
        maId = #{record.maId,jdbcType=BIGINT},
      </if>
      <if test="record.faceId != null" >
        faceId = #{record.faceId,jdbcType=BIGINT},
      </if>
      <if test="record.area != null" >
        area = #{record.area,jdbcType=BIGINT},
      </if>
      <if test="record.nickName != null" >
        nickName = #{record.nickName,jdbcType=VARCHAR},
      </if>
      <if test="record.memberSign != null" >
        memberSign = #{record.memberSign,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null" >
        sex = #{record.sex,jdbcType=INTEGER},
      </if>
      <if test="record.lastLoginTime != null" >
        lastLoginTime = #{record.lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastLoginIP != null" >
        lastLoginIP = #{record.lastLoginIP,jdbcType=VARCHAR},
      </if>
      <if test="record.lastLoginDevice != null" >
        lastLoginDevice = #{record.lastLoginDevice,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Criteria_Where_Clause" />
    </if>
  </update>
  <update id="updateByCriteria" parameterType="map" >
    update t_member_info
    set miId = #{record.miId,jdbcType=BIGINT},
      maId = #{record.maId,jdbcType=BIGINT},
      faceId = #{record.faceId,jdbcType=BIGINT},
      area = #{record.area,jdbcType=BIGINT},
      nickName = #{record.nickName,jdbcType=VARCHAR},
      memberSign = #{record.memberSign,jdbcType=VARCHAR},
      sex = #{record.sex,jdbcType=INTEGER},
      lastLoginTime = #{record.lastLoginTime,jdbcType=TIMESTAMP},
      lastLoginIP = #{record.lastLoginIP,jdbcType=VARCHAR},
      lastLoginDevice = #{record.lastLoginDevice,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Criteria_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wuhenjian.aurora.utils.entity.dao.MemberInfo" >
    update t_member_info
    <set >
      <if test="maId != null" >
        maId = #{maId,jdbcType=BIGINT},
      </if>
      <if test="faceId != null" >
        faceId = #{faceId,jdbcType=BIGINT},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=BIGINT},
      </if>
      <if test="nickName != null" >
        nickName = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="memberSign != null" >
        memberSign = #{memberSign,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="lastLoginTime != null" >
        lastLoginTime = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginIP != null" >
        lastLoginIP = #{lastLoginIP,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginDevice != null" >
        lastLoginDevice = #{lastLoginDevice,jdbcType=INTEGER},
      </if>
    </set>
    where miId = #{miId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wuhenjian.aurora.utils.entity.dao.MemberInfo" >
    update t_member_info
    set maId = #{maId,jdbcType=BIGINT},
      faceId = #{faceId,jdbcType=BIGINT},
      area = #{area,jdbcType=BIGINT},
      nickName = #{nickName,jdbcType=VARCHAR},
      memberSign = #{memberSign,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      lastLoginTime = #{lastLoginTime,jdbcType=TIMESTAMP},
      lastLoginIP = #{lastLoginIP,jdbcType=VARCHAR},
      lastLoginDevice = #{lastLoginDevice,jdbcType=INTEGER}
    where miId = #{miId,jdbcType=BIGINT}
  </update>
  <update id="updateMemberInfoByMaId">
    update t_member_info
    <set >
      <if test="faceId != null" >
        faceId = #{faceId,jdbcType=BIGINT},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=BIGINT},
      </if>
      <if test="nickName != null" >
        nickName = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="memberSign != null" >
        memberSign = #{memberSign,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="lastLoginTime != null" >
        lastLoginTime = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginIP != null" >
        lastLoginIP = #{lastLoginIP,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginDevice != null" >
        lastLoginDevice = #{lastLoginDevice,jdbcType=INTEGER},
      </if>
    </set>
    where maId = #{maId,jdbcType=BIGINT}
  </update>
  <sql id="Model_Where_Clause" >
    <where >
      <if test="miId != null" >
         and miId=#{miId}
      </if>
      <if test="maId != null" >
         and maId=#{maId}
      </if>
      <if test="faceId != null" >
         and faceId=#{faceId}
      </if>
      <if test="area != null" >
         and area=#{area}
      </if>
      <if test="nickName != null" >
         and nickName=#{nickName}
      </if>
      <if test="memberSign != null" >
         and memberSign=#{memberSign}
      </if>
      <if test="sex != null" >
         and sex=#{sex}
      </if>
      <if test="lastLoginTime != null" >
         and lastLoginTime=#{lastLoginTime}
      </if>
      <if test="lastLoginIP != null" >
         and lastLoginIP=#{lastLoginIP}
      </if>
      <if test="lastLoginDevice != null" >
         and lastLoginDevice=#{lastLoginDevice}
      </if>
    </where>
  </sql>
  <select id="countByModel" parameterType="com.wuhenjian.aurora.utils.entity.dao.MemberInfo" resultType="java.lang.Integer" >
    select count(*) from t_member_info
    <if test="_parameter != null" >
      <include refid="Model_Where_Clause" />
    </if>
  </select>
  <select id="selectByModel" resultMap="BaseResultMap" parameterType="com.wuhenjian.aurora.utils.entity.dao.MemberInfo" >
    select
    <include refid="Base_Column_List" />
    from t_member_info
    <if test="_parameter != null" >
      <include refid="Model_Where_Clause" />
    </if>
  </select>
    <select id="selectByMaid" resultType="com.wuhenjian.aurora.utils.entity.MemberAcctInfo">
      select
      <include refid="Base_Column_List"/>
      from t_member_info
      where maId = #{maId,jdbcType=BIGINT}
    </select>
</mapper>