<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuhenjian.aurora.db.mapper.sql.SysGroupMapper" >
  <resultMap id="BaseResultMap" type="com.wuhenjian.aurora.utils.entity.dao.SysGroup" >
    <id column="sgId" property="sgId" jdbcType="BIGINT" />
    <result column="gname" property="gname" jdbcType="VARCHAR" />
    <result column="gtype" property="gtype" jdbcType="VARCHAR" />
    <result column="glevel" property="glevel" jdbcType="INTEGER" />
    <result column="gstatus" property="gstatus" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Criteria_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Criteria_Where_Clause" >
    <where >
      <foreach collection="criteria.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    sgId, gname, gtype, glevel, gstatus
  </sql>
  <select id="selectByCriteria" resultMap="BaseResultMap" parameterType="com.wuhenjian.aurora.utils.entity.dao.SysGroupCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_sys_group
    <if test="_parameter != null" >
      <include refid="Criteria_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_sys_group
    where sgId = #{sgId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_sys_group
    where sgId = #{sgId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.wuhenjian.aurora.utils.entity.dao.SysGroupCriteria" >
    delete from t_sys_group
    <if test="_parameter != null" >
      <include refid="Criteria_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wuhenjian.aurora.utils.entity.dao.SysGroup" >
    <selectKey resultType="java.lang.Long" keyProperty="sgId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_sys_group (gname, gtype, glevel, 
      gstatus)
    values (#{gname,jdbcType=VARCHAR}, #{gtype,jdbcType=VARCHAR}, #{glevel,jdbcType=INTEGER}, 
      #{gstatus,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.wuhenjian.aurora.utils.entity.dao.SysGroup" >
    <selectKey resultType="java.lang.Long" keyProperty="sgId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_sys_group
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="gname != null" >
        gname,
      </if>
      <if test="gtype != null" >
        gtype,
      </if>
      <if test="glevel != null" >
        glevel,
      </if>
      <if test="gstatus != null" >
        gstatus,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="gname != null" >
        #{gname,jdbcType=VARCHAR},
      </if>
      <if test="gtype != null" >
        #{gtype,jdbcType=VARCHAR},
      </if>
      <if test="glevel != null" >
        #{glevel,jdbcType=INTEGER},
      </if>
      <if test="gstatus != null" >
        #{gstatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByCriteriaSelective" parameterType="map" >
    update t_sys_group
    <set >
      <if test="record.sgId != null" >
        sgId = #{record.sgId,jdbcType=BIGINT},
      </if>
      <if test="record.gname != null" >
        gname = #{record.gname,jdbcType=VARCHAR},
      </if>
      <if test="record.gtype != null" >
        gtype = #{record.gtype,jdbcType=VARCHAR},
      </if>
      <if test="record.glevel != null" >
        glevel = #{record.glevel,jdbcType=INTEGER},
      </if>
      <if test="record.gstatus != null" >
        gstatus = #{record.gstatus,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Criteria_Where_Clause" />
    </if>
  </update>
  <update id="updateByCriteria" parameterType="map" >
    update t_sys_group
    set sgId = #{record.sgId,jdbcType=BIGINT},
      gname = #{record.gname,jdbcType=VARCHAR},
      gtype = #{record.gtype,jdbcType=VARCHAR},
      glevel = #{record.glevel,jdbcType=INTEGER},
      gstatus = #{record.gstatus,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Criteria_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wuhenjian.aurora.utils.entity.dao.SysGroup" >
    update t_sys_group
    <set >
      <if test="gname != null" >
        gname = #{gname,jdbcType=VARCHAR},
      </if>
      <if test="gtype != null" >
        gtype = #{gtype,jdbcType=VARCHAR},
      </if>
      <if test="glevel != null" >
        glevel = #{glevel,jdbcType=INTEGER},
      </if>
      <if test="gstatus != null" >
        gstatus = #{gstatus,jdbcType=INTEGER},
      </if>
    </set>
    where sgId = #{sgId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wuhenjian.aurora.utils.entity.dao.SysGroup" >
    update t_sys_group
    set gname = #{gname,jdbcType=VARCHAR},
      gtype = #{gtype,jdbcType=VARCHAR},
      glevel = #{glevel,jdbcType=INTEGER},
      gstatus = #{gstatus,jdbcType=INTEGER}
    where sgId = #{sgId,jdbcType=BIGINT}
  </update>
  <sql id="Model_Where_Clause" >
    <where >
      <if test="sgId != null" >
         and sgId=#{sgId}
      </if>
      <if test="gname != null" >
         and gname=#{gname}
      </if>
      <if test="gtype != null" >
         and gtype=#{gtype}
      </if>
      <if test="glevel != null" >
         and glevel=#{glevel}
      </if>
      <if test="gstatus != null" >
         and gstatus=#{gstatus}
      </if>
    </where>
  </sql>
  <select id="countByModel" parameterType="com.wuhenjian.aurora.utils.entity.dao.SysGroup" resultType="java.lang.Integer" >
    select count(*) from t_sys_group
    <if test="_parameter != null" >
      <include refid="Model_Where_Clause" />
    </if>
  </select>
  <select id="selectByModel" resultMap="BaseResultMap" parameterType="com.wuhenjian.aurora.utils.entity.dao.SysGroup" >
    select
    <include refid="Base_Column_List" />
    from t_sys_group
    <if test="_parameter != null" >
      <include refid="Model_Where_Clause" />
    </if>
  </select>
  <select id="selectBySuId" resultType="com.wuhenjian.aurora.utils.entity.dao.SysGroup">
    SELECT
      sg.sgId, sg.gname, sg.glevel, sg.gstatus, sg.gtype
    FROM `t_sys_user` su
    LEFT JOIN `t_sys_user_group` sug ON su.`suId` = sug.`suId`
    LEFT JOIN `t_sys_group` sg ON sg.`sgId` = sug.`sgId`
    WHERE
      su.`suId` = #{suId}
      AND sg.`gstatus` = 1
  </select>
</mapper>